.navbarContainer
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-family: "Exo 2", sans-serif;
    background-color: var(--bg0);
    font-size: 1.25rem;
    width: 80%;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 10px;
    border: var(--border);
    align-items: center;
}
.navbar
{
    display: flex;
}
.themeToggle
{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 10px;
    border: var(--border);
    background-color: var(--bg1);
    border-radius: 10px;
    cursor: pointer;
}
.active, .nonactive
{
    padding: 5px 20px;
    margin-right: 17px;
    text-align: center;
    align-items: center;
    display: flex;
    border-radius: 10px;
    color: var(--text1);
    border: var(--border);
}
.nonactive:hover
{
    background-color: var(--bg-hover);
    color: var(--text-hover);
}
.active
{
    background-color: var(--active);
    color: var(--text-hover);
}
.nonactive
{
    background-color: var(--bg1);
}
.themeIcon
{
    color: var(--text0);
    width: 20px;
}