header
{
    display: flex;
    justify-content: center;
    
}
.headerContainer
{
    width: 80%;
    background-color: var(--bg0);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.08);
    border: var(--border);
}
.contactContainer
{
    justify-content: right;
    user-select: none;
    display: flex;
}
.icon
{
    text: var(--text0);
    width: 27px;
    padding: 8px;
    margin: 0px 7px;
    background-color: var(--bg2);
    border: var(--border);
    border-radius: 50%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}
a {
    text-decoration: none;
}
@media (max-width: 768px) {
    .contactContainer
    {
        justify-content: center;
        flex-wrap: wrap;
    }
}