footer
{
    margin-top: 20px;
    font-family: "Exo 2", sans-serif;
    width: 80%;
    background-color: var(--bg0);
    padding: 20px 20px;
    border-radius: 20px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.08);
    color: var(--text2);
    text-align: center;
    border: var(--border);
    user-select: none;
}
b
{
    margin: 0px 15px;
}